@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DotnetDemo</h1>
    <p>Demo solution for demonstrating deployment of dotnet WebApps </p>
    <p>    <a href="https://celina.solutions">celina.solutions</a>.</p>
</div>


<div class="text-left">
    <h1>Solution</h1>
    <ul>
        <li>ASPNET MVC WebApp</li>
    </ul>
</div>